# to use OpenAI-GPT as your LLM
OPENAI_API_KEY=<<add your OpenAI API key>>

# to use Google Gemini as your preferred LLM
GOOGLE_API_KEY=<< add your Google API key here >>

# to use Anthropoic's Claude models as your preferred LLMs
ANTHROPIC_API_KEY=<< add your Anthropic API key here >>

# we'll be using Tavily Search as a web-search tool.
# get your Tavily API key from https://app.tavily.com/home (under API Keys tab)
TAVILY_API_KEY=<< add your Tavily API key here >>

# we'll be using LangSmith to 'visually' test our agents

# get your LangSmith API key from Langsmith home page
LANGSMITH_API_KEY=<<add your LangSmith API key here>>
# set value of below key to the LangSmith project associated with above API key
LANGSMITH_PROJECT=<<add your LangSmith project name here>>
# set the below key to true
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
